
@using PizzaOrder.Models;
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Waf - What a food</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
    </environment>
</head>
<body>
    
    <div class="container body-content">
        <div class="header">
            <div class="headerText">
                <h1>
                    Ételrendelés
                </h1>
                <i>
                    .NETpincér házhoz megy!
                </i>
            </div>
        </div>
        <hr />
        <div class="pull-right">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Főoldal</a></li>
                            <li><a asp-area="" asp-controller="Basket" asp-action="Index">Kosár</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        @RenderBody()

    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
